.learn{
    border-bottom: thin solid lightgray;
    padding-block: 5px;
    width: fit-content;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  
}
.learn > p{
  
    padding-block: 10px;
   
}
.learn-border{
    border: thin solid black;
  
    height: 1px ;
    top: 50px;
    width: 0px;
    transition: width 1s ease;
    position: absolute;
    overflow: hidden;
    margin-left: -2px;
}
.learn:hover .learn-border{
    width: 292px;
}