.fivthsection{
    /* border: 1px solid rebeccapurple; */
    padding-block: 30px;
    padding-inline: 100px;
    background-color: #f6f6f6;
}
.fivth-section-boxes{
    /* border: 1px solid red; */
    display: flex;
    padding-block: 30px;
    
    gap: 30px;
}
.box{
    border: thin solid lightgray;
    width: 50%;
    display: flex;
    align-items: center;

    padding-block: 30px;
    padding-inline: 30px;
    background-color: #fff;
    gap: 20px;
}
.box-icon{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    transition: margin-left 0.5s ease;
}
.box-icon > svg{
    font-size: 1.5vw;
}

.box:hover .box-icon{
   margin-left: 20px;
}