.footer{
    /* border: 1px solid rebeccapurple; */
    padding-block: 30px;
    padding-inline: 100px;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-logo > a {
    text-decoration: none;
    color: #fff;
}

.footer-visit-help {
 
    width: fit-content;
    height: 40px;
    /* border-bottom: 2px solid #fff; */
    padding-block-end: 30px;
}
.footer-visit-help:hover{
    border-bottom: 2px solid #fff;
    width: fit-content;
    height: 40px;
    padding-block-end: 30px;
}

.footer-links{
    margin-top: 30px;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    gap: 20px;
    
}
.footer-link{
    /* border: 1px solid yellow; */
    width: 100%;

 
}
.flink{
    padding-block: 5px;
}
.flink > a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
   
}
.flink > a:hover{
    color: gray;
}
.footer-link > h5{
    font-size: 18px;
    margin-bottom: 20px;
}
.footer-social-link{
    /* border: 1px solid rebeccapurple; */
}

.social-icons{
    display: flex;
    gap: 20px;
   
 
}
.social-icons > span{
    padding: 13px;
}
.social-icons > span>svg{
    font-size: 19px;
}
.social-icons > span:hover{
    padding: 13px;
    background-color: gray;
    border-radius: 8px;
}
.mobile-store{
    display: flex;
    gap: 20px;
}
.store-img{
    /* border: 1px solid red; */
    cursor: pointer;
    width: 180px;
    display: flex;
    align-items: center;
    
    
}

.company-rights{
    font-size: 12px ;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}
.company-rights-btns{
    cursor: pointer;
    display: flex;
    gap: 20px;
}
.company-rights-btns>span:hover{
    color: gray;
}
