.b-o{
border: 1px solid orange;
}
.b-r{
  border: 1px solid red;
}
.b-g{
  border: 1px solid green;
}

.App{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.container{
  width: 90%;
  height: auto;
}